<div class="container">
  <p class="text">This weeks Expenses</p>
  <%= column_chart Expense.where(date: Date.today.at_beginning_of_week .. Date.today.at_end_of_week).group_by_day(:date).sum(:amount), thousands: ",", prefix: "¥"%>
</div>