
  <div class="dashboard">
    <div class="d-item1">
      <%= render 'dashboard/dashboard_report' %>
    </div>
    <div class="d-item2">
      <%= render 'dashboard/dashboard_members' %>
    </div>
    <div class="d-item3">
      <%= render 'dashboard/dashboard_expenses' %>
    </div>
    <div class="d-item4">

    </div>
    <div class="d-item5">

    </div>
    <div class="d-item">

    </div>
    <div class="d-item">

    </div>
  </div>
