:root {
        font-size: 16px;
        --main-color: #000000;
        --secondary-color: #E3DADA;
        --hightlight-color: #FF9300;
        --background-color: #D4D4D4;
}

html,body {
        height: 100%;
        margin: 0;
        padding: 0;
}

body::-webkit-scrollbar {
        width:0.25rem;
}
.sidebar {
        height: 100vh;
        width: 3rem;
        position: fixed;
        background: var(--main-color);
        z-index: 1;
        transition: width 200ms ease;
}

.sidebar:hover{
        width: 12rem;
        .nav-link {
                visibility: visible;
        }
}

.top-bar {
        width: 100vw;
        height: 2.5rem;
        z-index: 2;
        background: var(--main-color);
}

.side-bar-icon {
        padding: 0.2rem;

}

.nav-link {
        display: inline-block;
        visibility: hidden;
}
i.fas,i.fab {
        color: var(--secondary-color);
}

i.fas:hover,i.fab:hover {
        color: var(--hightlight-color);
}
.nav {
        padding: 0.5rem;
}

.nav-item {
        margin-top: 2rem;
}
.main-content {
        margin-left: 5rem;
        padding: 2rem;
}

.text {

}

@media (min-width: 90rem) {
        .dashboard {
                display: grid;
                grid-template-columns: [first] 50% [line2] 50%[end];
                grid-template-rows: 40vh 3vh 40vh 3vh;
                justify-items: start;
        }

        .d-item1 {
                grid-row-start: 1;
                grid-column-start: 1;
        }
        .d-item2 {
                grid-row-start: 1;
                grid-column-start: 2;
        }
        .d-item3 {
                grid-row-start: 3;
                grid-column-start: 1;
        }
        .d-item4 {
                grid-row-start: 3;
                grid-column-start: 2;
        }
        @for $i from 1 through 4{
                .d-item#{$i} {
                        width: 90%;
                        max-height: 40vh;
                        background: var(--background-color);
                }
        }
}
@media (max-width: 90rem) {
        .dashboard {
                display: grid;
                grid-template-columns: 1% 98% 1%;
                height: 90vh;
                overflow-y: scroll;
                justify-items: center;
        }
        @for $i from 1 through 4{
                .d-item#{$i} {
                        grid-column-start: 2;
                        max-height: 40vh;
                        width: 90%;
                        margin-bottom: 0.5rem;
                        background: var(--background-color);
                }
        }
}



.list-group{
        max-height: 80vh;
        margin-bottom: 10px;
        overflow:scroll;
        -webkit-overflow-scrolling: touch;
}
