<div class="sidebar">
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <%= link_to 'Household', household_path(current_user.main_household) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Expenses', expenses_path %>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
</div>