<div class="sidebar">
<ul class="nav flex-column">
  <li class="nav-item">
    <i class="fas fa-indent side-bar-icon fa-2x ml-1"></i>
    <p class="nav-link">
      <%= link_to 'Household', household_path(current_user.main_household) %>
    </p>
  </li>
  <li class="nav-item">
    <i class="fas fa-indent side-bar-icon fa-2x ml-1"></i>
    <p class="nav-link">
      <%= link_to 'Expenses', expenses_path %>
    </p>
  </li>
  <li class="nav-item">

  </li>
</ul>
</div>